.separator {
  position: relative;
}

@media (min-width: 960px) {
  .separator::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: calc(100% + 8px);
  }
}